@model Bitworks.Seguridad.MVC.ViewModel.SolicitarContrasena

@{
    ViewBag.Title = "SolicitudExitosa";
    Layout = "~/Views/Shared/_LayoutNoLogin.cshtml";

}

 
            <h2 class="font-bold">Contraseña enviada</h2>

            <p>
                Su contraseña ha sido enviada a su correo electrónico: <h3>@Model.email</h3>
            </p>
        