@{
    ViewBag.Title = "Solicitar Contrasena";
    Layout = "~/Views/Shared/_LayoutNoLogin.cshtml";
}


            <h2 class="font-bold">Recuperar Contraseña</h2>

            <p>
                Introduzca su dirección de correo electrónico para restablecer su contraseña.
            </p>

            <div class="row">

                <div class="col-lg-12">

                    @using (Html.BeginForm())
                    {
                        @Html.ValidationSummary()
                        <div class="m-t" role="form">
                            <div class="form-group">
                                <input id="email" name="email" type="email" class="form-control" placeholder="Email address" required="">
                            </div>
                            <button type="submit" class="btn btn-primary block full-width m-b">Enviar</button>
                        </div>
                    }


                </div>
            </div>
       



