

@{
    ViewData["Title"] = "Carretilla";
}
<style>
    .input2 input {
        text-align: center;
        width: 45%;
        height: 28px;
        color: #456D33;
        font-size: 15px;
        font-weight: bolder;
    }

    .input2 button {
        width: 25%;
        height: 28px;
        color: #456D33;
        padding: initial;
    }

    .input2 {
        width: 100%;
        margin-bottom: 4px;
    }
</style>

<div class="main-content">


    <div class="bg-white py-3 py-md-4 mt-1">
        <div class="wrap text-center">
            <div class="title-group text-primary">
                <div class="icono">
                    <i class="icon-carretilla"></i>
                </div>
                <div class="texto">
                    <h1 class="tt-main"><span class="st text-secondary">Listado de</span> <span class="tt">compras</span></h1>
                </div>
            </div>
        </div>
    </div>

    <div id="detail-container">
        @Html.Action("_Detalle")
    </div>

    <div class="row justify-content-center pt-4 pb-5">
        <div class="col-8 col-md-4 order-md-2 mb-3">
            <a href="@Url.Action("FinalizarPedido")" style="background-color:#456D33" class="btn btn-secondary text-uppercase btn-block py-2 shadow">Enviar mi pedido</a>
            <a href="@Url.Action("Index")" class="btn btn-secondary text-uppercase btn-block py-2 shadow">Seguir comprando</a>
        </div>
    </div>
</div>



@section scripts{
    <script type="text/javascript">


        $(document).ready(function () {
            const urlParams = new URLSearchParams(window.location.search);
            const myParam = urlParams.get('state');

            if (myParam && myParam === "invalid") {

                Swal.fire("Espera!", "El pedido no posee productos", "warning");
            }
        });


        $(document).on("click", ".btnmenos", function () {
            var caja = $(this).data("caja");
            var producto = $(this).data("producto");
            var fuente = $("#endpoints");
            var url = fuente.data("modificar");
            var urlRecarga = fuente.data("carretilla");
            

            var step = 0;
            step = $(this).data("step") * 1;

            var textbox = $("#" + caja);

            if (isNumber(textbox.val()) === false) {
                textbox.val(step);
            }

            textbox.val(function (i, val) {
                var aux = 0.00;
                aux = val * 1;

                if (aux % step !== 0) {
                    aux = aux - (aux % step);
                } else {
                    aux = aux - step;
                }

                if (aux < step) {
                    aux = step * 1;
                    return aux;
                }

                var payload = { "IdProducto": producto, "Cantidad": aux };
                Swal.showLoading();
                peticionAjaxPost(url, payload, urlRecarga);

                return aux;
            });
        });

        $(document).on("click", ".btnmas", function () {
            var caja = $(this).data("caja");
            var textbox = $("#" + caja);
            var producto = $(this).data("producto");
            var fuente = $("#endpoints");
            var url = fuente.data("modificar");
            var urlRecarga = fuente.data("carretilla");

            var step = 0;
            step = $(this).data("step") * 1;

            if (isNumber(textbox.val()) === false) {
                textbox.val(step);
            }

            textbox.val(function (i, val) {
                var aux = 0.00;
                aux = val * 1;

                if (aux % step !== 0) {
                    aux = aux + step - (aux % step);
                } else {
                    aux = aux + step;
                }

                if (aux < step)
                    aux = step * 1;

                
                
                var payload = { "IdProducto": producto, "Cantidad": aux };
                Swal.showLoading();
                peticionAjaxPost(url, payload, urlRecarga);


                return aux;
            });
        });

      
       
        function peticionAjaxPost(url, data,callback) {

            $.ajax({
                type: "POST",
                url: url,
                data: data,
                dataType: "json",
                success: function (data) {

                    $("#detail-container").empty();
                    $("#detail-container").load(callback, function () {
                        Swal.hideLoading();
                        Swal.fire(data.titulo, data.mensaje, data.tipo);
                    });            
                },
                error: function (error) {
                    console.log("Error:" + error);
                }
            });
        }

        function isNumber(n) {
            return !isNaN(parseFloat(n)) && isFinite(n);
        }
    </script>
}