
@{
    ViewData["Title"] = "Preguntas frecuentes";
}

<div class="main-content">

   


    

    <div class="mt-1 ff-secondary">
        <div class="wrap container-fluid py-4">
            <div class="texto-faq px-md-5">
                <ol class="ls-faq">
                    <li>
                        <h3>¿CUENTAN CON SERVICIO A DOMICILIO?</h3>
                        <p>Como un valor agregado para nuestros clientes, ofrecemos servicio a domicilio para pedidos con un valor mínimo de $10.00, pagando un cargo de $2.83 por el servicio a domicilio, IVA incluido, que se limita a las zonas de San Salvador, Santa Tecla, Antiguo Cuscatlán, y sus alrededores. Los pedidos corporativos por un monto mínimo de $300.00, tienen servicio a domicilio gratis, por el valor de la compra, siempre dentro del área antes referida.</p>
                        <p>Nota: Otras zonas deberán ser previamente consultadas, así como los cargos que aplicarían por el servicio a domicilio; quedando a criterio de la empresa el poder prestar dicho servicio.</p>
                    </li>
                    <li>
                        <h3>¿CUÁLES SON LAS FORMAS DE PAGO?</h3>
                        <p>Aceptamos las siguientes formas de pago: Efectivo, Cheque, y todas las Tarjetas de Crédito y Débito.</p>
                    </li>



                </ol>
            </div>
        </div>
    </div>

</div>

