
@{
    ViewData["Title"] = "Preguntas frecuentes";
}

<div class="main-content">






    <div class="mt-1 ff-secondary">
        <div class="wrap container-fluid py-4">
            <div class="texto-faq px-md-5">
                <ol class="ls-faq">
                   

                    <li><h3>¿Como puedo estar seguro de que mi pedido fue enviado y será procesado?</h3><p>Recibirás un mensaje o llamada de confirmación indicándote que tu pedido fue recibido</p></li>


                    <li>
                        <h3>¿Cuáles son las zonas de cobertura para las entregas a domicilio?</h3><p>
                            Santa Tecla,
                            Antiguo Cuscatlán,
                            Nuevo Cuscatlán,
                            Colonia Escalón,
                            San Benito,
                            Santa Elena,
                            Ciudad Merliot,
                            Zona metropolitana de San Salvador
                        </p>
                    </li>


                    <li><h3>¿Cuánto demora él envió a domicilio?</h3><p>Se realizan entregas cada jueves</p></li>


                    <li><h3>¿Cuál es el monto mínimo de compra?</h3><p>$10.00</p></li>


                    <li><h3>¿Cuáles son las formas de pago?</h3><p>Efectivo pago contra entrega y transferencias bancarias con 24 horas de anticipación</p></li>


                    <li>
                        <h3>¿Puedo hacer un pedido cualquier día y a cualquier hora?</h3><p>
                            Se reciben pedidos cualquier día, teniendo en consideracion que estos son preparados los días miercoles para
                            ser entregados el jueves
                        </p>
                    </li>


                    <li>
                        <h3>¿Cómo puedo contactarlos para resolver dudas?</h3><p>
                            Con gusto aclararemos todas tus dudas atraves de nuestro whatsapp
                            <a target="_blank" href="https://wa.me/50376753319">7675-3319</a> ò <a target="_blank" href="https://wa.me/50372428480">7242-8480</a>
                        </p>
                    </li>





                </ol>
            </div>
        </div>
    </div>

</div>

