@model Bitworks.Seguridad.MVC.ViewModel.CambiarContrasena

@{
    ViewBag.Title = "Cambiar Contrasena";
}


<!-- Header para Titulos y navegación unicamente -->
<div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-lg-10">
        <h2>Cambiar Contraseña</h2>
    </div>
</div>
<!---->

<div class="wrapper wrapper-content">
    <div class="row">

        <div class="col-md-12">
            <div class="ibox">
                
                <div class="ibox-content">

                    @using (Html.BeginForm("CambiarContrasena","Cuenta", FormMethod.Post, new {@class= "form-horizontal" }))
                    {
                        @Html.ValidationSummary()
                       
                            <div class="form-group">
                                <label class="col-lg-2 control-label">Nueva Contraseña: </label>

                                <div class="col-lg-10">
                                    <div class="row">
                                        <div class="col-md-3">
                                            @Html.PasswordFor(x => x.Contrasena, new { @class = "form-control", required = "" })
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">

                                <label class="col-lg-2 control-label">Confirmar Contraseña: </label>

                                <div class="col-lg-10">
                                    <div class="row">
                                        <div class="col-md-3">
                                            @Html.PasswordFor(x => x.ContrasenaRepetida, new { @class = "form-control", required = "" })
                                        </div>
                                    </div>
                                </div>


                            </div>

                            <div class="form-group">
                                <div class="col-lg-offset-2 col-lg-10">
                                    <button class="btn btn-primary" type="submit">Modificar</button>

                                </div>
                            </div>

                       

                    }

                                </div>
                            </div>
                        </div>
    </div>

</div>
 